<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--configuration核心配置文件-->
<mapper namespace="com.qunar.springbootstudy.mapper.StudentMapper">


    <select id="selectStudent" resultType="com.qunar.springbootstudy.pojo.Student">
        select * from springboot_student.student;
    </select>

    <insert id="addStudent" parameterType="com.qunar.springbootstudy.pojo.Student">
        insert into springboot_student.student(name,age) values (#{name},#{age});
    </insert>

    <delete id="deleteStudent">
        delete from springboot_student.student whee id = #{id};
    </delete>


</mapper>