<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--绑定StudentMapper接口-->
<mapper namespace="com.haining820.mapper.StudentMapper">


    <select id="selectStudent" resultType="com.haining820.pojo.Student">
        select * from tran.student;
    </select>

    <insert id="addStudent" parameterType="student">
        insert into tran.student(name, age) values (#{name}, #{age});
    </insert>

    <delete id="deleteStudent">
        delete from tran.student were id = #{id};
    </delete>

    <update id="updateStudent" parameterType="student">
        update tran.student
        set name=#{name}
        where id=#{id};
    </update>

    <select id="testSelect" resultType="java.lang.Integer">
        select id from student where name=#{name};
    </select>


</mapper>